@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap");

.space-mono {
  font-family: "Space Mono", monospace;
}

.libre {
  font-family: "Libre Franklin", sans-serif;
}

.karla {
  font-family: "Karla", sans-serif;
}

/* bootstrap file styling */

.header {
  font-weight: 500;
}

.description {
  font-size: 10px;
}

.row {
  padding-top: 20px;
}

.rectangle {
  max-width: 1000px;
  height: 50px;
  padding: 0 0;
}

.red {
  background: red;
}

.yellow {
  background: yellow;
}

.green {
  background: green;
}

.blue {
  background: blue;
}

.orange {
  background: orange;
}

.violet {
  background: violet;
}
